<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# Packer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1 id="type">Add a bag!</h2>
    <form action="/bags" method="post" id="fluff">
      <input id="name" name="name" type="text" placeholder="Enter the type of bag" required>
      <input id="grams" name="grams" type="number" placeholder="Enter the Maximum Capacity in Grams" required>
      <button type="submit" id="btnLocation">Go!</button>
    </form>
  </body>
</html>