@using PackerTracker.Models;
<!DOCTYPE html>
<html>
  <head>
  <title>C# PackerTracker - Bags</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="gr">
      <h1 id="type">Your Bags</h1>
      @if (Model.Count == 0)
      {
        <p>You have not yet added a bag.</p>
      }
      @foreach (Bag bag in Model)
      {
        <h4><a href='bags/@bag.Id'>@bag.BagName</a></h4>
      }
    </div>
    <a href="/New"><button id="btnLocation">Add a Bag!</button></a>
    <a href="/">Back Home</a></p>
  </body>
</html>