<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# Packer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1 id="type">Add an item to your bag!</h2>
    <form action="/items" method="post" id="fluff">
      <input id="itemName" name="itemName" type="text" placeholder="Item" required>
      <input id="grams" name="grams" type="number" placeholder="Weight in Grams" required>
      <button type="submit" id="btnLocation">Go!</button>
    </form>
  </body>
</html>