<!DOCTYPE html>
<html>
  <head>
    <title>C# Packer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
  <h1 id="type">Packer Tracker</h1>
  <p id="intro"> Welcome! This website lets you pack your virtual bag so you can keep your back happy and avoid overweight bag fees!</p>
  <a href="/bags/new"><button id="btnLocation">Add your bag!</button></a>
  <a href="/items/new"><button id="btnLocation">Add an item!</button></a>
  </body>
</html>